<p id="notice"><%= notice %></p>

<h4>Your Inbox</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.tel %></td>
        <td><%= client.message %></td>
        <td><%= link_to 'Show', client %></td>
        <td><% link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%= link_to 'New Client', new_client_path %>
